CHROME_CLIENT_ID=https://developer.chrome.com/docs/webstore/using-api#setup
CHROME_CLIENT_SECRET=https://developer.chrome.com/docs/webstore/using-api#setup
CHROME_REFRESH_TOKEN=https://developer.chrome.com/docs/webstore/using-api#setup
CHROME_EXTENSION_ID=https://chrome.google.com/u/1/webstore/devconsole
FIREFOX_EXTENSION_ID=https://addons.mozilla.org/en-US/developers/
FIREFOX_JWT_ISSUER=https://addons.mozilla.org/en-US/developers/addon/api/key/
FIREFOX_JWT_SECRET=https://addons.mozilla.org/en-US/developers/addon/api/key/
FIREFOX_CHANNEL=listed
EDGE_PRODUCT_ID=https://partner.microsoft.com/dashboard/microsoftedge
EDGE_CLIENT_ID=https://partner.microsoft.com/dashboard/microsoftedge/publishapi
EDGE_API_KEY=https://partner.microsoft.com/dashboard/microsoftedge/publishapi
EDGE_SKIP_SUBMIT_REVIEW=false