CHROME_CLIENT_ID=https://developer.chrome.com/docs/webstore/using-api#setup
CHROME_CLIENT_SECRET=https://developer.chrome.com/docs/webstore/using-api#setup
CHROME_REFRESH_TOKEN=https://developer.chrome.com/docs/webstore/using-api#setup
CHROME_EXTENSION_ID=https://chrome.google.com/u/1/webstore/devconsole
FIREFOX_EXTENSION_ID=
FIREFOX_JWT_ISSUER=
FIREFOX_JWT_SECRET=
FIREFOX_CHANNEL=